* {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: rgb(168, 146, 173);
  
  }
  
  header .titulo {
    background: linear-gradient(to top, rgb(168, 146, 173), rgb(255, 252, 252));
    font-size: 70px;
    border-style: inset;
    color: hsl(26deg, 77%, 59%);
    text-align: center;
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    ;
  }
  
  body {
    min-height: 100vh;
    background-color: rgb(168, 146, 173);
  }
  body section {
    background-color: rgb(168, 146, 173)
  }
  
  body section .lista {
    list-style-type: none;
    border-color: hsl(26deg, 77%, 59%);
    background-color: #bbb8b6;
    font-family: "Oswald", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
  }

  main {
    background-color: rgb(168, 146, 173);
  }
  main .descripcion {
    font-family: "Oswald", sans-serif;
    color: hsl(26deg, 77%, 59%);
    font-size: 20px;
    margin-left: 100px;
  }
  main .form {
    list-style-type: none;
    background-color: hsl(343deg, 19%, 79%);
    border-style: inset;
    border-color: hsl(343deg, 19%, 79%);
    color: hsl(26deg, 77%, 59%);
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
  }
  main .form .makeups {
    border-style: inset;
    border-color: hsl(26deg, 63%, 87%);
    background-color: hsl(26deg, 63%, 87%);
    color: hsl(26deg, 77%, 59%);
    margin: 20px 500px 20px 500px;
    text-align: center;
  } 
  section{
    animation: lista 1s ease 0s 1 normal forwards;
    color: #e78c46;
    font-size: 18px;
    padding: 10px;
    margin: -7px;

  }
  @keyframes lista {
    0% {
      transform: scale(0);
      transform-origin: 50% 0%;
    }
  
    100% {
      transform: scale(1);
      transform-origin: 50% 0%;
    }
  }
   
  li:hover{
    background-color: hsl(26deg, 77%, 59%);
  }
  
  a:visited{
    color: hsl(26deg, 77%, 59%) ;
  }
  
  footer{
    animation: myAnim 1s ease 0s 1 normal forwards;
    margin-bottom: 0%;
    font-size: 20px;
    background-color: rgb(175, 168, 162);
    border-style:inset;
    font-family: "Oswald", sans-serif;
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
  }

  @keyframes myAnim {
    0%,
    100% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
    }
  
    15% {
      transform: translateX(-30px) rotate(-6deg);
    }
  
    30% {
      transform: translateX(15px) rotate(6deg);
    }
  
    45% {
      transform: translateX(-15px) rotate(-3.6deg);
    }
  
    60% {
      transform: translateX(9px) rotate(2.4deg);
    }
  
    75% {
      transform: translateX(-6px) rotate(-1.2deg);
    }
  }

  $fontsize:(
    header: 70px,
    section: 25px,
    main: 20px,
    form: 30px,
  );
  
  @each $secciones, $tamanio in $fontsize {
    @media (font-size: $tamanio){
      .columna {
        font-size: $tamanio;
      }
    }
  }
    